[Unit]
Description=wazo-dxtora server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target

[Service]
ExecStartPre=/usr/bin/install -d -o wazo-dxtora -g wazo-dxtora /run/wazo-dxtora
ExecStart=/usr/bin/wazo-dxtora
PIDFile=/run/wazo-dxtora/wazo-dxtora.pid

[Install]
WantedBy=multi-user.target
