[Unit]
Description=xivo-dxtora server
ConditionPathExists=!/var/lib/xivo/disabled
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-dxtora -g xivo-dxtora /var/run/xivo-dxtora
ExecStart=/usr/bin/xivo-dxtora
PIDFile=/var/run/xivo-dxtora/xivo-dxtora.pid

[Install]
WantedBy=multi-user.target
